.row {
    display: flex;
}

.col {
    display: flex;
    flex-direction: column;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.w-100 {
    width: 100%;
}

.align-self-end {
    align-self: flex-end;
}

.justify-self-end {
    justify-self: flex-end;
}

.cursor-pointer {
    cursor: pointer;
}

.gap-1 {
    gap: 1rem;
}
