.pokecard {
    width: 200px;
    min-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.5rem;
    border: 2px solid black;
    border-radius: 15px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    opacity: 0.5;
}

.pokecard:hover {
    opacity: 1;
    border-color: lightblue;
    transform: scale(1.05, 1.05);
    transition: all 100ms linear;
}

.pokecard-list {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
}

.pokecard.caught {
    opacity: 1;
}

.daily-pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
