.user-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.user-list .card {
    cursor: pointer;
    width: 500px;
    height: 40px;
    background-color: rgba(219, 219, 219, 0.4);
    color: rgb(39, 39, 39);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: larger;
    font-weight: bold;
    transition: transform 300ms ease-in-out;
}

.user-list .card:hover {
    transform: scale(1.02);
    background-color: rgba(219, 219, 219, 0.8);
}
.user-list > .card:first-child {
    margin-bottom: 1rem;
}
.card.current-user {
    border: 3px solid green;
}
